@import '../settings';

.home,
.about,
.projects,
.contact {
  position: relative; // Positionnement relatif pour contenir les gradients

  .gradient_home-1,
  .gradient_home-2,
  .gradient_home-3,
  .gradient_about-1,
  .gradient_about-2,
  .gradient_projects-1,
  .gradient_projects-2,
  .gradient_projects-3,
  .gradient_contact-1,
  .gradient_contact-2 {
    background-color: $color-3;
    filter: blur(200px);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }

  .gradient_home-1 {
    width: 20rem;
    height: 20rem;
    top: -8%;
    left: 0;
  }

  .gradient_home-2 {
    width: 20rem;
    height: 20rem;
    top: 25%;
    right: -10%;
  }

  .gradient_about-1 {
    width: 20rem;
    height: 20rem;
    top: 50%;
    left: -10%;
  }

  .gradient_about-2 {
    width: 35rem;
    height: 24rem;
    top: 30%;
    right: -15%;
  }

  .gradient_projects-1 {
    width: 20rem;
    height: 40rem;
    top: 20%;
    right: -10%;
  }

  .gradient_projects-2 {
    width: 20rem;
    height: 20rem;
    top: 70%;
    left: -10%;
  }
  .gradient_projects-3 {
    width: 15rem;
    height: 15rem;
    top: 10%;
    left: -10%;
  }

  .gradient_contact-1 {
    width: 20rem;
    height: 20rem;
    top: 30%;
    left: -10%;
  }

  .gradient_contact-2 {
    width: 30rem;
    height: 20rem;
    top: 50%;
    right: -100%;
  }
}