@import '../settings';

// ========= Style de la section Contact ========= //


.contact {
  @include flex-center(column);
  width: 100vw;
  height: 100vh;
  padding: 2rem;

  .contact_title {
    font-family: $font-secondary;
    font-size: 5rem;
    color: $color-1;
    margin-bottom: 4rem;
  }

  .contact_form {
    @include flex-center(column);
    width: 100%;
    max-width: 500px;
    border: 1px solid $color-border;
    background-color: $color-background-border;
    padding: 2rem;
    border-radius: 8px;

    .confirmation_message {
      color: $color-5;
      font-size: 1rem;
      margin: 1rem 0;
      text-align: center;
    }

    .form_group {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        text-align: left;
        font-size: 1rem;
        color: $color-1;
        margin-bottom: 0.5rem;
      }



      input,
      textarea {
        padding: 0.8rem;
        font-size: 1rem;
        background: $color-background-border;
        border: 1px solid $color-border;
        border-radius: 5px;
        resize: none;

        .confirmation_message {
          color: $color-5;
          font-size: 1rem;
          margin: 1rem 0;
          text-align: center;
        }

        &:focus {
          outline: none;
          border-color: $color-3;
          box-shadow: 0 0 5px rgba(44, 248, 255, 0.3);
        }
      }
    }
  }
}