// ========= Variables ========= //

// Couleurs
$color-1: whitesmoke;
$color-2: black;
$color-3: #2cf8ff;
$color-4: #0F415F;
$color-5: #18ffb0;
$color-border: rgba(57, 153, 213, 0.2);
$color-background-border: #0a131a69;



// Fonts
$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Space Grotesk', sans-serif;