@import '../settings';

.project-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &_image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }

  &_content {
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    background-color: $color-background-border;
    border: 1px solid $color-border;
    border-radius: 10px;
  }

  &_logo {
    width: 100px;
    height: auto;
    margin: 1rem 0;
  }

  &_skills {
    margin-top: 1rem;

    h3 {
      color: $color-1;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        background: $color-background-border;
        color: $color-1;
        border: 1px solid $color-3;
        padding: 0.3rem 0.6rem;
        margin: 0.2rem;
        border-radius: 15px;
      }
    }
  }

  &_link {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: $color-5;
    border: 1px solid $color-5;
    background-color: $color-background-border;
    border-radius: 20px;
    text-decoration: none;

    &:hover {
      box-shadow: 0px 0px 15px $color-3;
    }
  }
}