@import '../settings';

// ========= Style du Header ========= //

.header {
  max-width: 1300px;
  width: 100%;
  height: 60px;
  @include flex-center($justify: space-between);
  padding: 0 30px;

  &_left {
    @include flex-center($justify: left);

    &_logo {
      width: 30px;
      height: 30px;
    }

    &_name {
      padding-left: 20px;
      color: #2cf8ff;
      padding-right: 20px;
    }
  }

  &_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    p {
      padding-right: 20px;
    }

    &_container {
      @include flex-center;
      position: relative;
      background-color: $color-background-border;
      border: 1px solid $color-border;
      border-radius: 50px;
      width: 150px;
      height: 40px;
      overflow: hidden;

      .header_right_circle {
        background-color: $color-5;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-left: 10px;
        flex-shrink: 0;
        position: relative;
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          top: -20px;
          left: 15px;
          width: 25px;
          height: 50px;
          background-image: linear-gradient(92deg, #0A131A, #0000);
          z-index: 1;
        }
      }

      .header_right_marquee {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;

        .header_right_text {
          display: inline-block;
          color: $color-5;
          background: none;
          white-space: nowrap;
          position: absolute;
          left: 0;
          animation: marquee 5s linear infinite;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #0A131A;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 25px;
        height: 100%;
        background-image: linear-gradient(92deg, #0000, #0A131A);
        z-index: 1;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(170%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// ========== Responsive Design ========== //

@media (max-width: 768px) {
  .header {
    &_left {
      display: none;
    }

    &_right {
      display: none;
    }
  }
}